<h1>ユーザー管理画面</h1>
<% if @named_user || @anonymous_user %>
    <% if @named_user.present? then %>
      ユーザー名：<%= @named_user.name %>
    <% end %>

    <% if @anonymous_user.present? then %>
      ユーザー名：<%= @anonymous_user.user_id %><br>
      匿名ユーザーです：
      ユーザー登録はこちら！<%= link_to("新規登録", "/user_create")%>
    <% end %>

    <% else %>
      匿名ユーザーさん：
      ユーザー登録はこちら！：<%= link_to("新規登録", "/user_create")%>
<% end %>
<br>
_________________________________________________________________<br>
あなたが作成したトピック一覧：<br>
<br>
<% if @named_user || @anonymous_user %>

  <% if @named_user.present? then %>
    <% if @topics = Topic.where(user_id: @named_user.user_id) then %>
      <% @topics = @topics.order(created_at: :desc) %>
        <% @topics.each do |topic| %>

        作成日時<%= topic.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S")%>
        <% if topic.user_name %>
          　BY:<%= topic.user_name %>
        <% else %>
          　ID：<%= topic.user_id%>
        <% end %><br>
        <%= link_to topic.title, "/topic/#{topic.topic_id}" %><br>
        <br>
     <% end %>
      <% else %>
       まだ投稿はありません<br>
       <br>
   　　　　　∧ ∧＿__<br>
   　　　／(*ﾟーﾟ)／＼<br>
   　　／|￣∪∪　 |＼／<br>
   　　　|　　　　|／<br>
   　　　 ￣￣￣￣<br>
    <% end %>
  <% end %>


  <% if @anonymous_user.present? then %>
      <% if @topics = Topic.where(user_id: @anonymous_user.user_id) then %>
        <% @topics = @topics.order(created_at: :desc) %>
          <% @topics.each do |topic| %>

          作成日時<%= topic.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S")%>
          <% if topic.user_name %>
            　BY:<%= topic.user_name %>
          <% else %>
            　ID：<%= topic.user_id%><br>
          <% end %>
          <%= link_to topic.title, "/topic/#{topic.topic_id}" %><br>
          <br>
       <% end %>
       <% else %>
        まだ投稿はありません<br>
        <br>
    　　　　　∧ ∧＿__<br>
    　　　／(*ﾟーﾟ)／＼<br>
    　　／|￣∪∪　 |＼／<br>
    　　　|　　　　|／<br>
    　　　 ￣￣￣￣<br>
     <% end %>
   <% end %>

<% else %>
    まだ投稿はありません<br>
    <br>
　　　　　∧ ∧＿__<br>
　　　／(*ﾟーﾟ)／＼<br>
　　／|￣∪∪　 |＼／<br>
　　　|　　　　|／<br>
　　　 ￣￣￣￣<br>
<% end %>
