<div class="main topics-show">
  <div class="container">
    <div class="topics-show-item">
      <p>
        作成日時<%= @topic.created_at%>
        <% if @topic.user_name %>
        BY:<%= @topic.user_name %>
        <% else %>
        ID：<%= @topic.user_id%>
        <% end %>
      </p>
      <p>
        <%= @topic.title %>
      </p>
      <p>
        <%= @topic.title_topic %>
      </p>
      <p>
        この進捗のURL：
        localhost:3000/topic/<%= @topic.topic_id %>
      </p>
        <p>_________________________________________________________________
        </p>
      <div class="topic-time">
        <!-- @topicのcreated_atカラムのデータを表示してください -->
        <%= link_to("戻る", "/")  %>
        <%= link_to("編集", "/topic/edit/#{@topic.topic_id}") %>
        <%= link_to("削除", "/topic/delete/#{@topic.topic_id}") %>
      </div>

      <%= link_to("コメントを投稿する", "/comment/create/#{@topic.topic_id}", {method: "post"}) %>

<% if @comments %>
      <div class="main commentss-index">
  <div class="container">
    <% @comments.each do |comment| %>
      <div class="comments-index-item">
        作成日時<%= comment.created_at%>
        <% if comment.user_name %>
        BY:<%= comment.user_name %>
        <% else %>
        ID：<%= comment.user_id%>
        <% end %>
        <p><%= simple_format(comment.topic) %></p>
      </div>
    <% end %>
  </div>
</div>
<% else %>
<%= @notice %>
<% end %>
    </div>
  </div>
</div>
