<!DOCTYPE html>
<html>
  <head>
    <title>SintyokuKun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header">
      <%= link_to("進捗くん", "/")%>
      <%= link_to("ユーザー", "/user")%>
      <%= link_to("ログイン", "/login")%>
      <%= link_to("ログアウト", "/logout_question")%>
    </div>
  </head>

    <body>
      <% if flash[:notice]%>
      <div class="flash">
        メッセージ：<%= flash[:notice] %>
      </div>
      <% end %>
      <%= yield %>
  </body>
</html>
