<!DOCTYPE html>
<html>
  <head>
    <title>SintyokuKun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header">

      <%= link_to("進捗くん", "/")%>

      <% if @named_user %>
      <%= link_to("ユーザー", "/user")%>
      <%= link_to("編集", "/edit") %>
      <%= link_to("ログアウト", "/logout_question") %>

      <% else %>
      <%= link_to("ユーザー", "/user")%>
      <%= link_to("ログイン", "/login") %>
      <% end %>




    </div>
  </head>

    <body>
      <% if flash[:notice] %>
      <div class="flash">
        メッセージ：<%= flash[:notice] %>
      </div>
      <% end %>

      <% if flash[:notice2] %>
      <div class="flash">
        ※<%= flash[:notice2] %>
      </div>
      <% end %>

    <% if @topic %>
      <% if @topic.errors.any? %>
  <div id="error_explanation">
    <%= @topic.errors.count %>件のエラーがあります:
    <% @topic.errors.full_messages.each do |msg| %>
    <%= msg %>
    <% end %>
  </div>
<% end %>
<% end %>


      <%= yield %>
  </body>
</html>
