<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>進捗くん1号</title>
    <link rel="stylesheet" href="app/assets/stylesheets/application.css">
  </head>

  <body>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header-top">
      <%= link_to("進捗くん", "/")%>　

      <% if @named_user %>
      <%= link_to("ユーザー", "/user")%>　
      <%= link_to("編集", "/edit") %>　
      <%= link_to("ログアウト", "/logout_question") %>　

      <% else %>
      <%= link_to("ユーザー", "/user")%>　
      <%= link_to("ログイン", "/login") %>　
      <% end %>
    </div>

      <% if flash[:notice] %>
      <div class="flash1">
        メッセージ：<%= flash[:notice] %>
      </div>
      <% end %>

      <% if flash[:notice2] %>
      <div class="flash2">
        ※<%= flash[:notice2] %>
      </div>
      <% end %>


        <% if @topic %>
          <% if @topic.errors.any? %>
      <div class="flash3">
            <%= @topic.errors.count %>件のエラーがあります:
            <% @topic.errors.full_messages.each do |msg| %>
            <%= msg %>
      </div>
            <% end %>
          <% end %>
        <% end %>

      <%= yield %>
  </body>
</html>
